@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        @apply m-0;
        font-family: "JetBrains Mono", monospace;
    }
}

@media only screen and (max-width: 1023px) {
    #wand {
        display: none;
    }
    #content {
        width: 100vw;
        margin: 0;
    }
    #discord-bouncer img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 665px) {
    #about-btn, #experience-btn, #projects-btn, #contact-btn {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 155px;
}

a:hover,
button:hover{
    color: #a35bff;
}

a img:hover {
    filter: invert(54%) sepia(51%) saturate(6615%) hue-rotate(241deg) brightness(100%) contrast(101%);
}