@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        @apply m-0;
        font-family: "JetBrains Mono", monospace;
    }
}

@media only screen and (max-width: 865px) {
    #links {
        display: none;
    }
    #content {
        width: 100vw;
        margin: 0;
    }
}

@media only screen and (max-width: 640px) {
    #about-btn, #experience-btn, #projects-btn, #contact-btn {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 155px;
}